<div>
    <h2><%= @child.name %></h2>
    <p>Date of birth: <%= @child.dob %></p>
    <p>Sex: <%= @child.sex %></p>
    <p>Parent: <%= link_to "#{@child.user.name}", @child.user %>
    <br>
    <%= link_to "Edit", action: "edit" %>
</div>