<div>
    <% if current_user %>
        <h3>Your Outings</h3>
        <%= render partial: 'outings/table', locals: {user_outings: current_user.outings} %>
        <h3>Your Children</h3>
        <div class="row">
            
                <% current_user.children.each do |child| %>
                    <%= render partial: 'children/about', locals: {child: child} %>
                <% end %>
            
        </div>
        <%= link_to "Add child", new_user_child_path(current_user) %>
    <% else %>
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 mb-3">Welcome to Dadbook!</h1>
                    <p class="col-lg-10 fs-4">Dadbook is an activity planning tool created by Nathan Troy intended to help organise my time with my daughter. It was made using Ruby on Rails for my phase 4 portfolio project with Academy Xi.</p>
                </div>
                <div class="col-md-10 mx-auto col-lg-5">
                    <div class="p-4 p-md-5 border rounded-3 bg-light">
                    <%= form_with model: User.new do |f| %>
                    <div class="form-floating mb-3">
                        <%= f.text_field :email, class: "form-control", id: "floatingInput", placeholder: "name@example.com" %>
                        <%= f.label :email, for: "floatingInput" %>
                    </div>
                    <div class="form-floating mb-3">
                        <%= f.text_field :name, class: "form-control", id: "floatingNameInput", placeholder: "Your Name" %>
                        <%= f.label :name, for: "floatingNameInput" %>
                    </div>
                    <div class="form-floating mb-3">
                        <%= f.password_field :password, class: "form-control", id: "floatingPassword", placeholder: "Password" %>
                        <%= f.label :password, for: "floatingPassword" %>
                    </div>
                    <div class="form-floating mb-3">
                        <%= f.password_field :password_confirmation, class: "form-control", id: "floatingPasswordConfirmation", placeholder: "Confirm Password" %>
                        <%= f.label :password_confirmation, for: "floatingPasswordConfirmation" %>
                    </div>
                    <%= f.submit "Sign up", class: "w-100 btn btn-lg btn-primary" %>
                    <hr class="my-4">
                    <% end %>
                    </div>
                </div>
            </div>
    <% end %>
    
</div>