<!DOCTYPE html>
<html lang="en-AU">
  <head>
    <title>Dadbook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <span class="d-flex align-items-center col-md-2 mb-2 mb-md-0">
      <%= link_to "Dadbook", root_path, class: "fs-3 text-dark text-decoration-none" %>
      </span>
      <% if current_user %>
      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to "Your Children", user_children_path(current_user), class: "nav-link px-2 link-dark" %></li>
        <li><%= link_to "Outings", outings_path, class: "nav-link px-2 link-dark" %></li>
        <li><%= link_to "Activities", activities_path, class: "nav-link px-2 link-dark" %></li>
        <li><%= link_to "Users", users_path, class: "nav-link px-2 link-dark" %></li>
      </ul>
      <% end %>

      <div class="col-md-4 text-end">
        <% if current_user %>
          <%= link_to "#{current_user.name}", user_path(current_user.id), class: "btn btn-outline-primary me-2" %>
          <%= link_to "Logout", logout_path, method:"post", class: "btn btn-primary" %>
        <% else %>
          <%= link_to "Login", login_path, class: "btn btn-outline-primary me-2" %>
          <%= link_to "Sign up", new_user_path, class: "btn btn-primary" %>
        <% end %>
      </div>
    </header>
  </div>
      <div class="container-md">
        <% if notice %>
          <%= notice %>
        <% end %>

        <% if alert %>
          <%= alert %>
        <% end %>

      <%= yield %>
    </div>
  </body>
</html>
